<div class="row justify-content-between mb-5">
    <div class="col-4 fw-bolder fs-3">
        ID Producto: <%= @producto_nuevo.categoria_id %>
    </div>
    <div class="col-2 botones-links">
        <%= link_to admin_productos_path, class:"btn btn-primary rounded-pill" do %>
            <i class="bi bi-card-list"></i>
            Lista Productos
        <% end %>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-lg-6 col-md-10 col-sm-12">
        <div class="card w-75 m-auto">
            <div class="row justify-content-center">
                <% @producto_nuevo.imagenes.each do |img| %>
                    <div class="<%= @columnas %>">
                        <%= image_tag img, class:'card-img-top' %>
                    </div>
                <% end %>
            </div>
            <div class="card-body">
                <p>
                    Fotos: <%= @producto_nuevo.imagenes.count %>/4
                    <% if @producto_nuevo.estados_producto.estado.eql? 'activo' %>
                        <span class="badge rounded-pill bg-success">Activo</span>
                    <% else %>
                        <span class="badge rounded-pill bg-secondary">Inactivo</span>
                    <% end %>
                </p>
                
                <h5 class="card-title"><%= @producto_nuevo.nombre %></h5>
                <p class="card-text"><%= @producto_nuevo.descripcion %></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Precio: <%= @producto_nuevo.precio %> CLP</li>
                <li class="list-group-item">Disponibles: <%= @producto_nuevo.cantidad %> Unidades</li>
            </ul>
            <div class="card-body">
                <%= link_to admin_editar_productos_path(@producto_nuevo), class:"btn btn-warning rounded-pill" do %>
                    <i class="bi bi-pencil-fill"></i>
                    Editar
                <% end %>
                
            </div>
        </div>
    </div>
</div>