
<div>
    <%= form_with(model: datos_pedido) do |formulario| %>
        
            <div class="mb-3 col-6 fw-bolder">
                <%= formulario.label :nombre, class: "form-label" %>
                <%= formulario.text_field :nombre, class: "form-control rounded-pill" %>
                <% if datos_pedido.errors[:nombre].any? %>
                    <p style="color:red;"> <%= datos_pedido.errors[:nombre].first %></p>
                <% end %>
            </div>
            <br>
            <div class="mb-3 col-6 fw-bolder">
                <%= formulario.label :correo, class: "form-label" %>
                <%= formulario.text_field :correo, class: "form-control rounded-pill" %>
                <% if datos_pedido.errors[:correo].any? %>
                    <p style="color:red;"> <%= datos_pedido.errors[:correo].first %></p>
                <% end %>
            </div>
            <br>
            <div class="mb-3 col-6 fw-bolder">
                <%= formulario.label :direccion, class: "form-label" %>
                <%= formulario.text_field :direccion, class: "form-control rounded-pill" %>
                <% if datos_pedido.errors[:direccion].any? %>
                    <p style="color:red;"> <%= datos_pedido.errors[:direccion].first %></p>
                <% end %>
            </div>
            <br>
            <div class="mb-3 col-6 fw-bolder">
                <%= formulario.label :telefono, class: "form-label" %>
                <%= formulario.text_field :telefono, class: "form-control rounded-pill" %>
                <% if datos_pedido.errors[:telefono].any? %>
                    <p style="color:red;"> <%= datos_pedido.errors[:telefono].first %></p>
                <% end %>
            </div>
            <br>
            <div class="mb-3 col-6 fw-bolder">
                <%= formulario.label :destino_id, class: "form-label" %>
                
                <%= formulario.select :destino_id, options_from_collection_for_select(destinos, :id, :nombre, datos_pedido.destino_id), {include_blank: "Elige una Ciudad..."}, { class: "form-select rounded-pill" } %>
                <% if datos_pedido.errors[:destino_id].any? %>
                    <p style="color:red;"> <%= datos_pedido.errors[:destino_id].first %></p>
                <% end %>
                
            </div>
            <br>
            <div class="mb-3 col-6 fw-bolder">
                <%= formulario.label :estado_id, class: "form-label" %>
                
                <%= formulario.select :estado_id, options_from_collection_for_select(estados_pedidos, :id, :estado, datos_pedido.estado_id), {}, { class: "form-select rounded-pill" } %>
                <% if datos_pedido.errors[:estado_id].any? %>
                    <p style="color:red;"> <%= datos_pedido.errors[:estado_id].first %></p>
                <% end %>
                
            </div>
            
            <%= formulario.submit  class: "btn btn-primary rounded-pill" %>

            
    <% end %>
</div>