<div class="row justify-content-between mb-4">
    <div class="col-9">
        <h1>Agregar Productos al Pedido: <%= @pedido.codigo %></h1>
    </div>
    <div class="col-3">
        <%= link_to admin_editar_pedido_path(@pedido), class: "btn btn-primary rounded-pill" do %>
            <i class="bi bi-card-list"></i>
            Volver a Editar Pedido
        <% end %>
    </div>
</div>
<h1>Productos</h1>
<div class="row">
    <% @todos_los_productos.each do |producto| %>
        <div class="col-lg-3 col-sm-10">
            <div class="card my-3 border border-primary border-2 shadow rounded tarjeta-productos">
                <div class="seccion-imagen-tarjetas border-bottom"> 
                    <% if producto.imagenes.attached? %>
                        <%= image_tag producto.imagenes.first, class: "imagen-tarjetas card-img-top ", alt: "..." %>
                    <% else %>
                        No hay imagenes registradas
                    <% end %>
                    
                </div>
                <div class="card-body">
                    <h5 class="card-title"><%= producto.nombre %></h5>
                    <p class="card-text descripcion"><%= producto.descripcion %></p>
                    <h5 class="card-title precio">Precio: $<%= producto.precio.to_s[0..-3] %></h5>
                    <%= link_to "Agregar al Pedido", admin_guardar_producto_path(@pedido, producto), class: "agregar-al-carro btn btn-primary", method: :post, remote: true %>
                </div>
            </div>
        </div>
    <% end %>
</div>