<nav class="navbar sticky-top navbar-dark bg-primary navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand bi bi-shop" href="#">Mi Tienda</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active bi bi-house-fill" aria-current="page" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link bi bi-bookmark-fill" href="/">Catálogo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link bi bi-cart-fill position-relative" href="/carrito">Ver Carrito
            <span class="position-absolute top-25 start-100 translate-middle badge rounded-pill bg-danger">
              <%= @carro.carros_contenidos.map{ |p| p.cantidad}.sum %>
              <span class="visually-hidden">unread messages</span>
            </span>
            
          </a>
        </li>
        
      </ul>
      <% if usuario_ha_iniciado_sesion? %>
        <div class="dropdown" >
          <button class="btn btn-primary dropdown-toggle px-5" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <%= @usuario_actual.nombre %>
          </button><!-- Opción para mostrar el formulario ⏬ -->
          <div class="dropdown-menu px-4">
              <%= link_to "Cerrar sesión", cerrar_sesion_path, class: "btn btn-warning m-auto", method: :delete, data: { confirm: "está seguro de cerrar sesión?" } %>
          </div>
        </div>

      <% else %>  
      <div class="dropdown" >
        <button class="btn btn-primary dropdown-toggle px-5" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Iniciar Sesión
        </button>
        <%= form_with(url: iniciar_sesion_path, class: 'dropdown-menu p-4') do |formulario| %>
          <div class="mb-3">
            <%= formulario.label :correo, class: 'form-label' %>
            <%= formulario.text_field :correo, class: 'form-control', placeholder: 'correo@ejemplo.com' %>
          </div>
          <div class="mb-3">
            <%= formulario.label :password, class: "form-label" %>
            <%= formulario.password_field :password, class: "form-control" %>
          </div>
          <div class="mb-3">
            <%= formulario.label :recuerdame, class: "form-check-label" %>
            <%= formulario.check_box :recuerdame, class: "form-check-input" %>
          </div>
          <%= formulario.submit "Iniciar Sesión", class: "btn btn-primary" %>
        <% end %>
      <% end %>  
        
      </div>
    </div>
  </div>
</nav>